<div class="container-fluid banker-list-container">
  <div class="row">
    <div class="col-md-8 col-lg-6 banker-list-left-section">
      <div class="banker-list-input-area">
        <h2 class="banker-list-title">What's new</h2>
        <textarea
          class="banker-list-textarea"
          placeholder="Use everyday words to describe what your app should collect, track, list, or manage"
        ></textarea>
        <div class="banker-list-input-icons">
          <span class="banker-list-icon">&#9889;</span>
          <span class="banker-list-icon">&#9658;</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-6 banker-list-right-section">
      <div class="banker-list-header">
        
        <button class="banker-list-close-button">X</button>
      </div>
      <div class="banker-list-generate-ai">
        <h3 class="banker-list-generate-ai-title">Generate image with AI</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu
          mollis felis. Maecenas sed dui o. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Integer eu mollis felis. Maecenas sed
          dui o
        </p>
        <ul>
          <li>
            <span class="banker-list-bullet">&#9830;</span> Phasellus accumsan
            imperdiet tempor. Cras tincidunt, arcu nec eleifen
          </li>
          <li>
            <span class="banker-list-bullet">&#9830;</span> Duis ac augue ut
            lectus congue luctus. Vivamus eu lacus vestibulum, luctus ante
            dignissim, interdum
          </li>
          <li>
            <span class="banker-list-bullet">&#9830;</span> Interdum et
            malesuada fames ac ante ipsum primis in faucibus. Sed posuere
            egestas nunc ut tempus. Fu
          </li>
          <li>
            <span class="banker-list-bullet">&#9830;</span> Integer id augue
            iaculis, iaculis orci ut, blandit quam.
          </li>
          <li>
            <span class="banker-list-bullet">&#9830;</span> Proin id ligula
            dictum, convallis enim ut, facilisis massa. Mauris.
          </li>
          <li>
            Iteger eu mollis felis. Maecenas sed dui o. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Integer eu mollis felis.
            Maecenas sed dui o
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 banker-list-pagination">
      <ul>
        <li>
          <span class="banker-list-pagination-dot active"></span>
        </li>
        <li>
          <span class="banker-list-pagination-dot"></span>
        </li>
        <li>
          <span class="banker-list-pagination-dot"></span>
        </li>
      </ul>
      <button class="banker-list-next-button">Next</button>
    </div>
  </div>
</div>